@model FlightSearch.Web.Models.QueryViewModel
@using FlightSearch.Web.Resources
@using FlightSearch.Web.Models
@{
    ViewBag.Title = Resource.AirlineMaintenance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">@ViewBag.Title</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div id="Entry" class="row">
                            <div class="col-12">
                                <form id="AirlineForm">
                                    <div class="form-group">
                                        <label for="AirlineName">Airline Name</label>
                                        <input id="AirlineName" class="form-control col-12" />
                                    </div>
                                    <div class="form-group">
                                        <label for="CarrierCode">Carrier code</label>
                                        <input id="CarrierCode" class="form-control col-12" />
                                    </div>
                                    <div class="form-group">
                                        <label for="LogoURL">Logo URL</label>
                                        <input id="LogoURL" class="form-control col-12" />
                                    </div>
                                    <div id="OtherFields">
                                        <input id="ID" type="hidden" />
                                        <input id="IsActive" type="hidden" />
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <button class="btn btn-outline-success" id="Save">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="Result" class="row">
                            <table id="AirlineResultTable" class="table table-bordered table-responsive table-striped data-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@Resource.AirlineLogo</th>
                                        <th>@Resource.AirlineName</th>
                                        <th>Carrier Code</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            LoadAirlines();
            Util.initFormValidator("#AirlineForm", ValidationRules());
            $("#Save").click(SaveRecord);
        });

        function LoadAirlines() {
            $.get("@Url.Action("Get", "AirlineAPI", new { httproute = "DefaultApi", Area = "" })", null, function (result) {
                console.log("Retrieved airlines", result);

                $("#AirlineResultTable").DataTable({
                    destroy: true,
                    data: result,
                    columnDefs: [
                        {
                            targets: 1,
                            data: "LogoUrl",
                            searchable: false,
                            orderable: false,
                            render: function (data) {
                                return `<img src="${data}" width="70" height="60">`
                            }
                        },
                        {
                            targets: 0,
                            data: "ID",
                            searchable: false,
                            orderable: false,
                            width: "75px",
                            render: function (data) {
                                return `<div class="btn-group" role="group">
                                        <button class="btn btn-outline-secondary edit-row" rowID="${data}"><i class="fa fa-edit"></i></button>
                                        <button class="btn btn-outline-secondary delete-row" rowID="${data}"><i class="fa fa-trash-alt"></i></button>
                                </div>`;
                            }
                        }
                    ],
                    columns: [
                        { targets: 0, data: "ID" },
                        { targets: 1, data: "LogoUrl" },
                        { targets: 2, data: "AirlineName" },
                        { targets: 3, data: "CarrierCode" }
                    ]
                });

                $("#AirlineResultTable tbody").on("click", ".edit-row", EditRow);

                $("#AirlineResultTable tbody").on("click", ".delete-row", DeleteRow);
            });
        }

        function SaveRecord(e) {
            e.preventDefault();

            if (!$("#AirlineForm").valid()) {
                return;
            }

            let id = $("#ID").val();

            //let verb = id === "" ? "POST" : "PUT";
            let verb = "";
            let url = "";

            if (id === "") {
                verb = "POST";
                url = "@Url.Action("Post", "AirlineAPI", new { httproute = "DefaultApi", Area = "" })"
            }
            else {
                verb = "PUT";
                url = "@Url.Action("Put", "AirlineAPI", new { httproute = "DefaultApi", Area = "" })"
            }

            let isActive = $("#IsActive").val() === "true";

            let data = {
                ID: parseInt(id),
                AirlineName: $("#AirlineName").val(),
                CarrierCode: $("#CarrierCode").val(),
                LogoUrl: $("#LogoURL").val(),
                IsActive: isActive
            };

            $.ajax({
                type: verb,
                url: url,
                data: data,
                dataType: "json",
                success: function () {
                    LoadAirlines();

                    $("#AirlineName").val("");
                    $("#CarrierCode").val("");
                    $("#LogoURL").val("");
                    $("#ID").val("");
                    $("#IsActive").val("");
                }
            });
        }

        function EditRow() {
            let val = $(this).attr("rowID");
            console.log("Value ID " + val);

            $.ajax({
                type: "GET",
                url: "@Url.Action("Get", "AirlineAPI", new { httproute = "DefaultApi", Area = "" })",
                data: { id: val },
                dataType: "json",
                success: function (result) {
                    console.log("Result", result);

                    $("#AirlineName").val(result.AirlineName);
                    $("#CarrierCode").val(result.CarrierCode);
                    $("#LogoURL").val(result.LogoUrl);
                    $("#ID").val(result.ID);
                    $("#IsActive").val(result.IsActive);
                }
            });
        }

        function DeleteRow() {
            let val = $(this).attr("rowID");
            console.log("Value ID " + val);
        }

        function ValidationRules() {
            return {
                rules: {
                    "AirlineName": { required: true },
                    "CarrierCode": { required: true }
                }
            };
        }
    </script>
}
