@using FlightSearch.Web.Models
@using FlightSearch.Web.Resources
@{
    ViewBag.Title = Resource.LoadData;
    var airlines = (List<AirlineViewModel>)ViewData["Airlines"];
}

<div class="row">
    <div class="col-12">
        <h3><i class="fa fa-database"></i> @Resource.LoadData</h3>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <form id="LoadDataForm">
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="FromDate" class="control-label">@Resource.FromDate</label>
                    <div class="input-group date" data-date-format="dd-mm-yyyy">
                        <input id="FromDate" class="form-control" placeholder="dd/mm/yyyy">
                        <div class="input-group-append">
                            <label class="input-group-text" for="FromDate"><i class="fa fa-calendar-alt"></i></label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label for="ToDate" class="control-label">@Resource.ToDate</label>
                    <div class="input-group date" data-date-format="dd-mm-yyyy">
                        <input id="ToDate" class="form-control" placeholder="dd/mm/yyyy">
                        <div class="input-group-append">
                            <label class="input-group-text" for="ToDate"><i class="fa fa-calendar-alt"></i></label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label for="Airline">@Resource.AirlineName</label>
                    <select id="Airline" class="form-control">
                        <option disabled selected>@Resource.PleaseSelect</option>
                        @{
                            foreach (var item in airlines)
                            {
                                <option value="@item.ID">@item.AirlineName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3 align-text-bottom">
                    <button id="Process" class="btn btn-outline-success">@Resource.ProcessDates</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <table id="FlightTimeTable" class="table table-bordered table-responsive table-striped data-table">
        <thead>
            <tr>
                <th>@Resource.AirlineName</th>
                <th>@Resource.FlightDate</th>
                <th>@Resource.FromAirport</th>
                <th>@Resource.ToDate</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script>
        $(function () {
            $(".date input").datepicker({
                format: "dd/mm/yyyy",
                autoclose: true
            });

            $("#LoadDataForm input, #LoadDataForm select").each(function (index, obj) {
                let name = $(obj).attr("id");
                $(obj).attr("name", name);
            });

            Util.initFormValidator("#LoadDataForm", ValidationRules());
            CustomValidations();

            $("#Process").click(function (e) {
                e.preventDefault();

                if (!$("#LoadDataForm").valid()) {
                    return;
                }

                Util.ShowLoading(true);

                let airlineID = $("#Airline").val();
                let startDate = Util.Date($("#FromDate").val(), "DD/MM/YYYY");
                let endDate = Util.Date($("#ToDate").val(), "DD/MM/YYYY");

                let param = JSON.stringify({
                    airlineID: airlineID,
                    fromDate: startDate,
                    toDate: endDate
                });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GenerateTimeTable", "Home")",
                    data: param,
                    contentType: "application/json",
                    success: function (result) {
                        console.log(result);
                        $("#FlightTimeTable").DataTable().ajax.reload();
                    },
                    done: function () {
                        Util.ShowLoading(false);
                    }
                })
            });

            $("#FlightTimeTable").DataTable({
                destroy: true,
                language: LangLabel[$("#ChangeLang").val()],
                autoWidth: false,
                ajax: {
                    url: "@Url.Action("GetTimeTable", "FlightSearch", new { httproute = "DefaultApi" })",
                    type: "GET"
                },
                columnDefs: [
                    {
                        targets: 1,
                        data: "FlightDate",
                        render: function (data, row, type) {
                            return Util.DateString(data, "DD/MM/YYYY");
                        }
                    }
                ],
                columns: [
                    { targets: 0, data: "Airline" },
                    { targets: 1, data: "FlightDate" },
                    { targets: 2, data: "FromAirport" },
                    { targets: 3, data: "ToAirport" }
                ]
            });
        });

        function ValidationRules() {
            return {
                rules: {
                    "FromDate": {
                        required: true,
                        startdate: true
                    },
                    "ToDate": {
                        required: true,
                        enddate: true
                    },
                    "Airline": {
                        required: true
                    }
                },
                messages: {
                    "FromDate": {
                        required: "@Resource.DateRequired"
                    },
                    "ToDate": {
                        required: "@Resource.DateRequired"
                    },
                    "Airline": {
                        required: "@Resource.AirlineRequired"
                    }
                }
            };
        }

        function CustomValidations() {
            $.validator.addMethod("startdate", function (value, element) {
                console.log("Start date to validate", value);
                let endDate = $("#ToDate").val();
                let isValid = moment(Util.Date(value, "DD/MM/YYYY")).isBefore(Util.Date(endDate, "DD/MM/YYYY"));

                return isValid;
            }, "@Resource.StartDateValidation");

            $.validator.addMethod("enddate", function (value, element) {
                console.log("End date to validate", value);
                let startDate = $("#FromDate").val();
                let isValid = moment(Util.Date(value, "DD/MM/YYYY")).isAfter(Util.Date(startDate, "DD/MM/YYYY"));

                return isValid;
            }, "@Resource.EndDateValidation");
        }
    </script>
}