@using FlightSearch.Web.Configuration
@using FlightSearch.Web.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="d-flex h-100">
        <div id="Loading" class="fa-3x d-none">
            <i class="fas fa-cog fa-spin"></i>
        </div>
    </div>
    <div class="container" style="z-index: 0">
        <div class="justify-content-between navbar navbar-expand bg-dark navbar-dark">
            <div class="navbar-brand">
                @Html.ActionLink("Flight Search", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <ul class="nav justify-content-end">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink(Resource.LoadData, "LoadData", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">
                    <select class="form-control" id="ChangeLang">
                        @{
                            foreach (var lang in LanguageManager.Languages)
                            {
                                <option value="@lang.CultureCode">@lang.Name</option>
                            }
                        }
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <div class="container body-content">

        <div>@RenderBody()</div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    <div class="modal fade" id="confirmModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="confirmTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
                <div id="confirmBody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button class="btn btn-primary" data-dismiss="modal" id="btnConfirmYes">Yes</button>
                        <button class="btn btn-primary" data-dismiss="modal" id="btnConfirmNo">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commonModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
                    <div><strong id="ModalTitle" class="modal-title"></strong></div>
                </div>
                <div id="ModalBody" class="modal-body" style="overflow-wrap:break-word;">

                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/js")
<script>
    $(function () {

        $("#ChangeLang").val("@Request.Cookies["culture"].Value");

        $("#ChangeLang").change(function (e) {
            e.preventDefault();
            let changeLang = $("#ChangeLang").val();

                @*$.post("@Url.Action("ChangeLanguage", "FlightSearch", new { httproute = "DefaultApi" })",
                    { "lang": lang }, function () {
                        console.log("success");
                        window.location.reload();
                });*@
            $.ajax({
                url: "@Url.Action("ChangeLanguage", "FlightSearch", new { httproute = "DefaultApi", Area = "" })",
                //url: "@Url.Action("ChangeLanguage", "FlightSearch", new { Area = "" })",
                data: { "lang": changeLang },
                dataType: 'json',
                contentType: "application/json",
                type: "GET",
                success: function (result) {
                    console.log(result);
                    window.location.reload();
                }
            });
        });
    });
</script>
    @RenderSection("scripts", required: false)
</body>
</html>
