<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container sticky-top">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
            @Html.ActionLink("Flight Search", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="navbar-nav">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Load Data", "LoadData", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Search Flights", "AirlineSearch", "Home", new { @class = "nav-link" })</li>
            </ul>
            <div class="float-right">
                <select class="form-control" id="ChangeLang">
                    @{
                        foreach (var lang in FlightSearch.Web.Configuration.LanguageManager.Languages)
                        {
                            <option value="@lang.CultureCode">@lang.Name</option>
                        }
                    }
                </select>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/js");
<script>
    $(function () {
        $("#ChangeLang").val("@Request.Cookies["culture"].Value");

        $("#ChangeLang").change(function (e) {
            e.preventDefault();
            let changeLang = $("#ChangeLang").val();

                @*$.post("@Url.Action("ChangeLanguage", "FlightSearch", new { httproute = "DefaultApi" })",
                    { "lang": lang }, function () {
                        console.log("success");
                        window.location.reload();
                });*@
            $.ajax({
                url: "@Url.Action("ChangeLanguage", "FlightSearch", new { httproute = "DefaultApi" })",
                data: { "lang": changeLang },
                dataType: 'json',
                contentType: "application/json",
                type: "GET",
                success: function (result) {
                    console.log(result);
                    window.location.reload();
                }
            });
        });
    });
</script>
    @RenderSection("scripts", required: false)
</body>
</html>
